$primary-color: #01b35e;
$secondary-color: #c4c93a;
$primary-color: #4CAF50;
$google-color: #db4437;
$facebook-color: #4267B2;
$background-color-primary: #232323;
$background-color-secondary: #171717;
$text-color: #ffffff;
$error-color: #e74c3c;
$primary-font: "Roboto";