@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

$primary-color: #01b35e;
$secondary-color: #c4c93a;
$google-color: #db4437;
$facebook-color: #4267B2;
$background-color-primary: #232323;
$background-color-secondary: #171717;
$text-color: #ffffff;
$error-color: #e74c3c;
$primary-font: "Roboto";

$income-color: rgba(75, 192, 192, 0.8);
$expenses-color: rgba(255, 99, 132, 0.8);
$balance-color: rgba(53, 162, 235, 0.8);
$card-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);