@import "variables";

// Main container that holds the NavBar and content
.main-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  height: -webkit-fill-available;
  width: 100vw;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;

  h1{
    margin-bottom: 20px;
  }

  .content {
    margin-left: 250px;
    flex-grow: 1;
    padding: 50px;
    padding-top: 40px;
    overflow-y: auto;
    background-color: $background-color-secondary;
    font-family: $primary-font;
    color: white;
  }

  // For smaller screens
  @media (max-width: 768px) {
    .side-menu-container{
      width: 0 !important;
    }

    .content{
      margin-left: 0 !important;
      padding-top: 60px;
      padding-left: 20px !important;
      padding-right: 20px !important;
    }
  }
}

