@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
.edit-delete-content {
  width: 100%;
  max-width: 1200px;
  height: 85%;
  background-color: #171717;
  border: 1px solid rgb(60.5, 60.5, 60.5);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  padding: 20px;
  margin-top: 20px;
}
.edit-delete-content h2 {
  text-align: center;
  color: #01b35e;
  margin-bottom: 30px;
  margin-top: 10px;
  font-weight: 500;
}
.edit-delete-content .transaction-list {
  margin-bottom: 20px;
}
.edit-delete-content .transaction-list .transaction-item {
  display: flex;
  justify-content: space-between;
  background-color: #232323;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.edit-delete-content .transaction-list .transaction-item .transaction-details p {
  margin: 5px 0;
}
.edit-delete-content .transaction-list .transaction-item .transaction-actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.edit-delete-content .transaction-list .transaction-item .transaction-actions .edit-btn, .edit-delete-content .transaction-list .transaction-item .transaction-actions .delete-btn {
  background-color: #01b35e;
  color: #ffffff;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  margin-bottom: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.edit-delete-content .transaction-list .transaction-item .transaction-actions .edit-btn:hover, .edit-delete-content .transaction-list .transaction-item .transaction-actions .delete-btn:hover {
  background-color: rgb(0.7166666667, 128.2833333333, 67.3666666667);
}
.edit-delete-content .transaction-list .transaction-item .transaction-actions .edit-btn:disabled, .edit-delete-content .transaction-list .transaction-item .transaction-actions .delete-btn:disabled {
  background-color: rgb(28.2666666667, 253.7333333333, 146.0666666667);
  cursor: not-allowed;
}
.edit-delete-content .transaction-list .transaction-item .transaction-actions .delete-btn {
  background-color: #e74c3c;
}
.edit-delete-content .transaction-list .transaction-item .transaction-actions .delete-btn:hover {
  background-color: rgb(213.698630137, 43.8356164384, 26.301369863);
}
.edit-delete-content .pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.edit-delete-content .pagination button {
  padding: 10px 15px;
  background-color: #01b35e;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}
.edit-delete-content .pagination button:disabled {
  background-color: rgb(28.2666666667, 253.7333333333, 146.0666666667);
  cursor: not-allowed;
}
.edit-delete-content .pagination button:hover {
  background-color: rgb(0.7166666667, 128.2833333333, 67.3666666667);
}
.edit-delete-content .pagination span {
  font-size: 16px;
  color: #ffffff;
}

@media (max-width: 768px) {
  .edit-delete-content {
    padding: 15px;
  }
  .edit-delete-content h2 {
    font-size: 18px;
  }
  .transaction-list .transaction-item {
    flex-direction: column;
    align-items: flex-start;
  }
  .transaction-list .transaction-actions {
    margin-top: 10px;
  }
  .pagination button {
    font-size: 14px;
    padding: 8px 12px;
  }
  .pagination span {
    font-size: 14px;
  }
}

/*# sourceMappingURL=EditDeleteData.css.map */
