@import '../../styles/_variables.scss';

// General Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// SignUp Container
.signup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: $background-color-secondary;
  padding: 1rem;
}

.main-title {
  font-family: $primary-font;
  font-size: 2.5rem;
  font-weight: bold;
  color: $text-color;
  text-align: center;
  margin-bottom: 1.5rem;
}

// SignUp Form
.signup-form {
  background: $background-color-primary;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;

  .signup-title {
    font-family: $primary-font;
    font-size: 1.8rem;
    font-weight: normal;
    color: $text-color;
    text-align: center;
    margin-bottom: 1.5rem;
  }

  .input-group {
    margin-bottom: 1rem;

    label {
      font-family: $primary-font;
      display: block;
      font-weight: bold;
      margin-bottom: 0.5rem;
      color: $text-color;
    }

    input {
      width: 100%;
      padding: 0.75rem;
      border: 1px solid #000000;
      border-radius: 5px;
      font-size: 1rem;
      color: $text-color;
      transition: border 0.3s;
      background-color: $background-color-secondary;

      &:focus {
        border-color: $primary-color;
        outline: none;
      }
    }
  }

  .signin-label {
    font-size: 0.75rem;
    margin-top: 1rem;
    font-family: $primary-font;
    display: block;
    font-weight: lighter;
    margin-bottom: 0.5rem;
    color: $text-color;

    a {
      color: $primary-color;
    }
  }

  .signup-button {
    margin-top: 1.5rem;
    font-family: $primary-font;
    width: 100%;
    background-color: $primary-color;
    color: #fff;
    padding: 0.75rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: darken($primary-color, 10%);
    }
  }

  .error-message {
    font-family: $primary-font;
    color: $error-color;
    font-size: 0.9rem;
    margin-top: 0.5rem;
    text-align: center;
  }

  .success-message {
    font-family: $primary-font;
    color: $primary-color;
    font-size: 0.9rem;
    margin-top: 0.5rem;
    margin-bottom: 0.4rem;
    text-align: center;
  }

  .white-line {
    border: none;
    height: 1px;
    background-color: #737373;
    margin: 25px 0;
    width: 100%;
  }
}

// Responsive Design
@media (max-width: 768px) {
  .signup-form {
    padding: 1.5rem;

    .signup-title {
      font-size: 1.5rem;
    }

    .signup-button {
      font-size: 0.9rem;
      padding: 0.6rem;
    }
  }
}

